body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFD700; /* Light yellow background */
    color: #333;
}

header {
    display: flex;
    justify-content: space-between; /* Spread logo and menu */
    align-items: center;
    padding: 25px;
    background-color: #ffd900ae;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 8px 16px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #000;
    color: #FFD700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f4e6a1;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

.experience-highlights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.highlight-item {
    background-color: #161B22;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
}

.number {
    font-size: 4em;
    font-weight: bold;
    color: #58A6FF;
}

.description {
    font-size: 1.2em;
    margin-top: 10px;
    color: #fff;
}

.work-history {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Increase the space between the job boxes */
}

.job-item {
    background-color: #161B22;
    padding: 40px;
    border-radius: 10px;
    flex: 1 1 calc(50% - 30px); /* Adjusted to account for the increased gap */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.job-item h2 {
    margin-top: 0;
    color: #F0F6FC;
}

.job-item p {
    color: #fff;
}

.job-item:hover {
    transform: scale(1.05); /* Grow in size */
    box-shadow: 0 0 20px rgba(255, 223, 0, 0.8); /* Brighter yellow shadow */
    background-color: #FFD700; /* Yellow background color */
    color: black;
}
